<!DOCTYPE html>
{% extends "rango/base.html" %}
{% load staticfiles %} <! - - New line - ->

{% block title %}About{% endblock %}

{% block body_block %}

       <div>
         <h1> About Rango</h1>
         This is <strong> Rango's about page </strong>.<br />
           <strong>{{ weakmessage}} </strong> <br />

           <img src="{%static "images/screamtwo.jpg"%}"
           alt ="Picture of Cowboy"/> <! - - New line - ->
           <img src= "{% static "cat.jpg" %}"
            alt = "cat" /> <! - - New Line - ->

        </div>
   {% endblock %}
